.blacklight-catalog-home {
    @include padding-leader(2);
  #hd, #bd, #mosaic {
  @include container;
  @include blueprint-typography-body;
  font-size: 11px;
      float: none;
      display: block;
  }


  #hd {

    .site_title_container {
       @include column(5);
       height: 63px;
       padding-bottom: 1px;
    }

    .site_title a {
      @include replace-text-with-dimensions("logo_home.png");
    }

    .subtitle {
       @include replace-text-with-dimensions("wgbh_mla_flat.png");
       margin-top: 18px;
    }

    .user_util_links {
      top: 10px;
    }
  }

  .sidebar {
    display: none;
  }

  .mosaic-container {
     margin-top: -82px;
     padding-top: 82px;
     background-color: $blue;
     @include linear-gradient(color-stops(#003366, #025a97));
  }

  #mosaic {
      @include margin-trailer(1);
    .thumbnail {
      float: left;
      width: 54px;
      height: 42px;
      margin-right: 1px;
      margin-bottom: 1px;

      img {
        width: 54px;
        height: 42px;
      }
    }

  }

  #main {
    @include column($blueprint-grid-columns);
    @include prepend(0);
    background-color: transparent;
    padding: 0px;

  }

  #content {
    min-height: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    @include single-box-shadow(rgba(0,0,0,0), 0px, 1px, 5px);
    @include margin-trailer(2);
  }

  #search-bar {
    margin-left: 220px;
  }

  .panel {
    h2 {
      background-color: $blue;
      color: white;
      text-transform: uppercase;
      width: auto;
      @include padding-leader(0.5);
      @include padding-trailer(0.5);
      @include prepend(0.5);
      @include margin-trailer(0.5);
    }
    .see_all {
      float: right;
      color: white;
      line-height: 30px;
      @include append(0.25);
    }
  }

  #blog, #collections {
    @extend .panel;
  }

  /* collections are rotated via js */
  #collections {
    position: relative;
    @include column(11);
    background-color: #fff;

    img {
      width: 100%;
      @include margin-trailer(0.5);
    }

    .document {
       @include column(10.5);
       @include prepend(0.25);
       @include append(0.25);
       @include padding-trailer(0.5);
       display: none;
    }

    .document:first-of-type {
      display: block;
    }

    .pagination {
      float: right;
      text-align: inherit;
      margin-top: 7px;
      @include append(0.5);

      .page {
        text-indent: -9999px;
        display: inline-block;
        width: 11px;
        height: 9px;
        margin-right: 2px;
        background-color: #5f8eb1;

        &.active {
          background-color: #33ccff;
        }
      }

      .play, .pause {
        display: inline-block;
        margin-right: 7px;  
      }

      .play {
          @include replace-text-with-dimensions('collection_play.png');
          &:hover {
            @include replace-text-with-dimensions('collection_play_over.png');
          }
      }

      .pause {
          @include replace-text-with-dimensions('collection_pause.png');
          &:hover {
            @include replace-text-with-dimensions('collection_pause_over.png');
          }
      }
    }
  }

  #blog {
    @include push(0.5);
    @include column(15.5,true);
    background-color: #fff;

    .post {
      @include column(14.5);
      @include prepend(0.5);
      @include append(0.5);
      @include margin-leader(0.5);
      @include margin-trailer(0.5);
      border-bottom: 1px solid #ccc;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .byline {
       @include column(3);
       .thumbnail img {
         max-width: 100px;
       }
    }

    .body {
      @include column(11);

      p {
        @include margin-leader(0.25);
        @include margin-trailer(0.5);
      }
    }
  }
}
