/* Catalog Record Page */
.blacklight-catalog-show {
  #sidebar {
    h2 {
      background-color: #8a8e90;
      @include margin-trailer(1);
      @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 5px);
    }
  }
  
  #content {
    @include padding-trailer(0);
  }
}

/* document */
#document {
  @include padding-leader(2);

  hr {
    @include column($content-grid-columns);
    @include pull(1);
    margin-bottom: 0;
  }

  /* show partial */
  .document_heading {
    @include column(14);
    @include padding-trailer(0.5);
  }

  .documentFunctions {
    display: none;
  }

  div.tools {
    @include prepend(1.5);
    @include column(2.5, true);
    @include padding-leader(0.5);
  }

  ul.tools {
    li {
      display: inline-block;

      &:after {
        content: " | ";
      }

      &:last-of-type:after {
        content: "";
      }
    }
  }

  .document {
    @include column(19);
  }

  .defList_container {
     @include column(19);
     @include padding-leader(0.5);
     @include padding-trailer(0.5);

     .label {
       @include column(2.75);
       @include append(0.25);
       @include margin-trailer(0.5);
       @include padding-leader(0.1);
       @include padding-trailer(0.1);
       text-indent: 5px;
       background-color: #ddd;
       text-align: right;
       font-weight: bold;
       clear: both;
     }

     .value {
       @include column(12);
     }

     & > div {
       @include clearfix;
       margin-bottom: 1em;
     }
    }

    .blacklight-tags, .blacklight-comments {
       @include column(14);

       .value {
         @include column(8);
         a {
            display: block;
         }
       }
    }

    .new_tag, .new_annotation {
      @include prepend(1.5);
      @include column(2.75, true);
    }

    /* media */
    .media {
      @include padding-leader(1);
      @include padding-trailer(1);
      @include column($document-grid-columns, true);
    }

    .datastream-container {   
       h2 {
         @include column(2.5);
         text-transform: uppercase;
       }

       .sync {
         margin-right: 2px;
         display: inline-block;
         @include replace-text-with-dimensions("sync_to_vid.png");
         cursor: pointer;

         &:hover {
           @include replace-text-with-dimensions("sync_to_vid_over.png");
         }
       }

       .datastream-actions {
          @include column(7.25, true);
          @include margin-trailer(0.5);
         .print {
            @include column(2.5);
            text-align: right;
         }

         .sync {
            position: absolute;
            left: 28px;
            top: 100px;
            @include replace-text-with-dimensions("sync_to_trans.png");
            &:hover {
              @include replace-text-with-dimensions("sync_to_trans_over.png");
            }
         }

         .q_field {
            width: 138px;
            padding-right: 25px;
            float: right;

            .q {
                width: 100%;
            }

            .submit {
               right: 5px;
            }
          }
       }
   }

   .primary-datastream-container, .secondary-datastream-container {
     @extend .datastream-container;
   }

   .primary-datastream {
     @include column(8);
   }

   .primary-datastream-container {
     @extend .primary-datastream;
   }

   .secondary-datastream-container {
     @include column(9.75, true);
     @include prepend(1.75);
     position: relative;
   }

   .registration-required-splash {
      width: 320px;
      height: 240px;
      position: relative;

      .error {
        background-color: rgba(2,6,95, 0.5);
        padding: 20px;
        width: 280px;
        height: 200px;
        position: absolute;
        left: 0;
        top: 0;
        color: white;
      }

      h2 {
         font-size: 20px;
         text-transform: uppercase;
      }

      a {
        @include link-colors($action-color, $action-hover-color, $link-active-color, $action-color, $link-focus-color); 
      }
   }

   .datastream-transcript {   
     width: 100%;
     overflow-y: scroll;
     height: 240px;

     .highlight {
       background-color: #ffff00;
     }
   }

   .primary-datastream.datastream-transcript {
     @include column(14);
     @include prepend(4);
     height: 480px;
   }

   /* metadata */
   .pbcore-metadata {
     @include column($document-grid-columns);
     @include pull(1);
     @include prepend(1);
     @include append(1);
     @include padding-leader(1);
     @include padding-trailer(2);
     background-color: #ddd;

     .instantiation, .source, .description, .date, .place, .people {
       @include column(6);
       @include margin-trailer(1.5);
     }

     h3, strong {
       @include margin-leader(1);
       display: block;
     }

    .instantiation strong, .source strong, .description strong {
      font-weight: normal;
      display: inline;
      margin: 0;
      
      &:after {
         content: ": ";
      }
    }

    .pbcore-description-block {
       @include margin-trailer(1);
    }

    .date {
       clear: left;
    }

    .description, .people {
       @include column(6, true);
    }
  }
}

.media_fragment_template {
  display: none;
}

.media_fragment {
    @include margin-leader(1);
    @include margin-trailer(1);
  #comment_metadata_begin, #comment_metadata_end {
     width: 60px;
  }

  #comment_metadata_begin {
     margin-right: 10px;
  }

}

  #comment_comment {
     height: 100px;
  }

/* transcript styles */
@import 'transcript';

/* annotations lightbox */
#annotations_modal_dialog {
  max-height: 300px;
  overflow-y: auto;
}


/* share */
#at15s {
  @include border-radius(0, 0);
  border: 0;
  @include single-box-shadow(rgba(0,0,0,0.7), 0px, 0px, 50px);
  background: none;
}

#at15s_inner {
  border: none;
  margin: -5px;
}

#at15s_head {
  background: $blue;
  color: white;
  padding: .5em 1em .3em;
  font-weight: bold;
}

.at300bs {
  display: inline-block;
  background: none;
  height: 0px;
  width: 0px;
  line-height: auto;
}                                

.blacklight-comments {
  .defList_container {
    @include column(14.5);
    @include push(3.5);

    .label {
       font-weight: bold;
       display: inline;
       @include append(0.25);
    }

    .value {
      display: inline;
    }
  }
}

/* Collection page */
.blacklight-collections-show {

  #content {
    @include padding-trailer(2);
  }

  #document {
    .document_heading {
       @include column($document-grid-columns, true);
    }

    hr { 
      @include margin-leader(1);
      @include margin-trailer(1);
    }
  }

  .featured_image {
    float: left;
    margin-right: 1em;
  }

  .content {
    h1 {
      display: none;
    }
  }

  .collection-links {
    @include column(4);
  }

  .related-links {
    @include column(4, true);
  }

  .funders {
    @include column($document-grid-columns, true);
  }
}


.blacklight-catalog-print {
  body, html {
     background: #fff;
  }

  #hd {
      .site_title_container {
        height: auto;
        @include margin-trailer(1);
      }
  } 

  .container {
     font-size: 13px;
  }

  #sidebar, #search-bar, .user_util_links, #ft {
    display: none !important;
  }

  #main {
    @include column($blueprint-grid-columns);
    @include prepend(0);
  }

  .label {
     font-weight: bold;
  }

  #document {
     @include column(14);
     @include prepend(0);
      .document_heading {
         width: 100%;
      }
    .datastream-actions {
       display: none !important;
    }
    .secondary-datastream-container {
     @include column(14);
     @include prepend(0);
 }
    .datastream-transcript {
       height: auto;
       overflow: visible;
    }
  }
}

.related-content {
  .mlt {
    @include margin-trailer(1);
    @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 5px);
    padding: 10px;
    background-color: #fff;

    a {
      font-weight: bold;
      display: block;
    }
  }
}

