<div class="datastream primary-datastream datastream-video datastream-video-mp4">
<audio width="320"  controls>
<source src="#{Openvault.fedora_config[:public_url]}/get/<%= document.get('pid_s') %>/Audio.mp3" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
</audio>
</div>
