<div class="datastream primary-datastream datastream-transcript datastream-transcript-news-xml">
<% 
  require 'open-uri'
xslt = Nokogiri::XSLT(File.read("public/xslt/newsml2html.xsl"))
xml = Nokogiri::XML(open("#{Openvault.fedora_config[:private_url]}/get/#{document.get('pid_s')}/Transcript.newsml.xml").read)
%>

 <%= xslt.transform(xml) %>

</div>
