<div class="datastream primary-datastream datastream-video datastream-video-mp4">
<video width="320" height="240" controls>
<source src="<%= Openvault.fedora_config[:public_url] %>/get/<%= document.get('pid_s') %>/Video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
</video>
</div>

<div class="secondary-datastream-container">
<div class="datastream secondary-datastream datastream-transcript datastream-transcript-tei-xml">
<% 
  require 'open-uri'
xslt = Nokogiri::XSLT(File.read("public/xslt/tei2timedtranscript.xsl"))
xml = Nokogiri::XML(open("#{Openvault.fedora_config[:private_url]}/get/#{document.get('pid_s')}/Transcript.tei.xml").read)
%>

 <%= xslt.transform(xml) %>

</div>
</div>
<%
  stylesheet_links << ["/mediaelement/build/mediaelementplayer.css"]
  javascript_includes << ["/mediaelement/build/mediaelement-and-player.min.js"]
%>
<script type="text/javascript">
  $(function() {
      $('video').mediaelementplayer();
      });
</script>
