<div class="datastream primary-datastream datastream-video datastream-video-mp4">
  <%= render_video_player(document.datastream_url("Video.mp4"), :size => "320x240", :controls => true) %>
</div>

<div class="secondary-datastream-container">
<div class="datastream secondary-datastream datastream-transcript datastream-transcript-tei-xml">
  <%= render_tei_transcript(document.datastream_url("Transcript.tei.xml", :private => true)) %>
</div>
</div>
