<%# default partial to display solr document fields in catalog index view -%>
<div  class="thumbnail">
  <%= link_to_document document, :label=>(image_tag(document.thumbnail.url(:style => :preview)).html_safe) %>
</div>
<div class="defList_container">

<%# default partial to display solr document fields in catalog show view -%>
  <% index_field_names.each do |solr_fname| -%>
    <% value = render_index_field_value :document => document, :field => solr_fname %>
    <% unless value.blank? %>
      <div class="blacklight-<%= solr_fname.parameterize %>" >
	    <div class="label"><%= render_index_field_label :field => solr_fname %></div>
            <div class="value"><%= render_index_field_value :document => document, :field => solr_fname %></div>
          </div>
    <% end -%>
  <% end -%>
</div>
