<div class="mlt">
<div  class="thumbnail">
  <%= link_to_document document, :label=>(image_tag(document.thumbnail.url(:style => :preview)).html_safe) %>
</div>
<%= link_to_document document %>
<%= document.get 'dc_description_t' %>
</div>
