// This import applies a global reset to any page that imports this stylesheet.
@import "compass/reset";
//@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/utilities/text/replacement";
@import "compass/typography/vertical_rhythm";

$base-font-size: 11px;
$base-line-height: 14.25px;

$blueprint-grid-columns: 26;

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/liquid";

@import "blueprint/colors";
$link-color: #0a9cd5;
$dark-link-color: #006699;

$action-color: #cc6600;
$action-hover-color: lighten(#d76b11, 20%);

$orange: #ff9e25;
$grey: #e8e3e3;

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// @include blueprint-print

//Recommended Blueprint configuration with scoping and semantic layout:
body.bp {
  @include blueprint-print(true); 
line-height: $base-line-height;
}

  #sidebar, #search-bar, .user_util_links, #ft {
    display: none !important;
  }

.datastream-transcript {
   max-width: 600px;
  .tei-metadata {
     display: none;
  }
}

    .datastream-actions {
       display: none !important;
    }
.transcript {
    
div {
   @include clearfix;
}
  h3 {
   font-weight: bold;
   @include margin-leader(1.5);
   @include margin-trailer(1.5);
  }
 
  strong {
    @include column(4);
    font-weight: bold;
  }

  .para {
    float: right;
    clear: right;
    margin-right: 20%;
    margin-left: 20%;
   margin-top: -1em;
   @include margin-trailer(1.5);
  page-break-inside: avoid;
  }

  .current {
     color: darken($orange, 30%);
  }

  .incident {
     font-style: italic;
     color: $quiet-color;
  }

  .tei-metadata {
     display: none;
  }

}
