// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

@import "compass/css3/gradient";
@import "compass/utilities/text/replacement";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/liquid";



// Combine the partials into a single screen stylesheet.
@import "partials/page";
//@import "partials/form";
//@import "partials/two_col";

#doc3 {
  @include container;
  @include showgrid;
   margin-left: 0;
}

#hd {
    @include clearfix;
    .yui-g {
       @include column(12);

    }

    #search {
      @include column(9, true);
      h2 {
       display: none;
    } 

    hr {
      display: none;
    }
}

}


#bd {
    @include clearfix;
}

#yui-main {
  @include column(18, true);
  @include prepend(6);
}

.sidebar {
  @include column(6); 
  @include pull(24, true);
  @include last;
}

.search-results-header {
   @include column(18, true);

   .pageEntriesInfo {
      @include column(6);
      @include prepend(4);
   }

   #sortAndPerPage {
      @include column(4);
      @include pull(10);
   }

   .pagination {
      @include clearfix;

      .prev_page {
         @include column(2);
      }

      .next_page {
         @include column(2);
         @include push(0);
      }

      .page_links {
         @include column(4);
         @include pull(0);
      }

   }
}

#documents {
  @include column(18, true);
}

.per_page {
   display: none;
}

.pagination {
  h2 {
      display: none;
  }
}

.document {
    @include clearfix;
    .defList_container .label {
       display: inline;
       font-weight: bold;
    }

    .defList_container .label:after {
       content: ":";
    }

    .defList_container .value {
       display: inline;
    }

}

.blacklight-catalog-index {
.document {
    position: relative;
    position: relative;
    min-height: 100px;
}

    .documentFunctions {
        display: none;
    }
.documentHeader {
   @include column(14);
   @include push(0);
   margin-bottom: 0;

   h3 {
     margin-bottom: 0.3em;
   }
}

.thumbnail {
   @include column(4);
   @include pull(0);
}

.defList_container {
   @include column(14, true);
   @include push(0);
}

    .defList_container > div {
       @include clearfix;
    }


.blacklight-fulltext_t .label {
  display: none;
}

.blacklight-fulltext_t .value {
   color: #666;
}

.blacklight-fulltext_t em {
   font-style: normal;
   font-weight: bold;
   color: #000;
}

.blacklight-fulltext_t, .blacklight-dc_description_t {
   margin-bottom: 1em;
}



}



.blacklight-catalog-show {
.document_heading {
   @include column(18, true);
}



.document {
   @include column(18, true);
}
    .defList_container {
       @include column(18, true);
    }

    .defList_container > div {
       @include clearfix;
    }

    .defList_container .label {
       @include column(2);
    }

    .defList_container .value {
       @include column(13, true);
       @include append(3);
    }

    .blacklight-tags, .blacklight-comments {
       @include column(15);
    }

    .blacklight-tags .value, .blacklight-comments .value {
       @include append(0);
    }

    .blacklight-tags + a {
       @include column(3, true);
    }

    .blacklight-comments + a {
       @include column(3, true);
    }

    .pbcore-metadata {
        @include clearfix;          
        @include column(18, true);

      .media {
        @include column(6);
      }

      .source {
        @include column(6);
      }

      .description {
         @include column(6, true);
      }

      .date {
          clear: left;
         @include column(6);
      }

      .place {
         @include column(6);
      }

      .people {
         @include column(6, true);
      }
    }
    

}

.primary-datastream {
  @include column(9);
}

.secondary-datastream-container {
    @include column(9, true);


   .datastream-transcript {
     height: 500px;
     overflow: auto;

   }
}

/* Transcript */
 
.blacklight-catalog-show {
.document {
      position: relative;
         @include clearfix;

         .datastream-transcript {
    color: #444443;

 h2 {
    text-transform: uppercase;
}

 strong {
       font-size: 11px;
    font-weight: bold;
}

.incident {
   color: #636363;
   font-size: 10px;
   margin-top: 1em;
   margin-bottom: 1em;
    font-style: italic;
}

 h3 {
       font-size: 14px;
       color: #51493a;
       margin-top: 0.75em;
        margin-bottom: .75em;
       line-height: 1.3em;
}

 .tei-l {
       display: block; 
       text-indent: -20px;
       padding-left: 20px;
       line-height: 1.5em;
}

.tei-bibl {
       display: block;
       text-align: right;
       font-style: italic;
       margin-bottom: 1em;
}

 .tei-metadata {
       display: none;
}

 .para {
    margin-left: -70px;
    padding-left: 70px;
    margin-bottom: 1em;
    position: relative;
    min-height: 100px;
    padding-left: 140px;
}

.highlight {
       background-color: #FFFF99;
}

         }
 }
}


