// This import applies a global reset to any page that imports this stylesheet.
@import "compass/reset";
//@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/utilities/text/replacement";
@import "compass/typography/vertical_rhythm";

$base-font-size: 11px;
$base-line-height: 14.25px;

$blueprint-grid-columns: 26;

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/liquid";

@import "blueprint/colors";
$link-color: #0a9cd5;
$dark-link-color: #006699;

$action-color: #cc6600;
$action-hover-color: lighten(#d76b11, 20%);

$orange: #ff9e25;
$grey: #e8e3e3;



// Combine the partials into a single screen stylesheet.
@import "partials/page";
//@import "partials/form";
//@import "partials/two_col";

html {
   background-color: #558fba;
   background-image: image-url("background-footer.jpg");
   background-repeat: no-repeat;
   background-position: 0 100%;
}

body {
    background-image: image-url("background-header.jpg");
    background-repeat: no-repeat;
   height: 100%;
}

b {
   font-weight: bold;
}

i {
  font-style: italic;
}

ul, li {
   list-style: none;
   padding: 0;
   margin: 0;
}

 a {
    text-decoration: none;
    @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color); }

a:hover, a:active {
  text-decoration: underline;
}

a.action, .tools a, .new_tag, .new_annotation, .sync {
  font-weight: bold;
  @include link-colors($action-color, $action-hover-color, $link-active-color, $link-visited-color, $link-focus-color); 
  text-transform: uppercase;
  font-size: 10px;
}

.container {
    @include container;
    @include blueprint-typography-body;
    font-size: 11px;
}

#hd {
  @include column(26);
  @include margin-leader(1);
  position: relative;

  .site_title_container {
     @include column(5);
     height: 58px;
  }

  .site_title a {
      display: block;
     @include replace-text-with-dimensions("openvault.png");
  }

  .subtitle {
     @include replace-text-with-dimensions("wgbh_mla.png");
     @include margin-leader(2);
  }

  .user_util_links {
      position: absolute;
      right: 0;
      top: 38px;
      text-align: right;
  }
}

#bd {
   @include column(26);
}

#main {
  @include column(20);
  @include prepend(6);
}

#content {
    @include column(18);
    @include prepend(1);
    @include append(1);
    @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 5px);
   background-color: #FFF;

  border: 1px solid #CCC;
}
    .q_field {
      position: relative;
      @include margin-trailer(0.5);
      width: 170px;
      height: 2em;

      .q {
        width: 150px;
        padding-right: 20px;
        font-size: 12px;
        color: #666;
        @include padding-leader(0.25);
        @include padding-trailer(0.25);
      }

    .submit {
        position: absolute;
        top: 8px;
        right: 0;
    }
    }

#search-bar {
  @include column(18);
  @include prepend(1);
  @include append(1);
  @include padding-leader(1);
  @include padding-trailer(1);
  @include margin-trailer(1);
    @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 5px);
  background-color: $orange;

  #search {
    @include column(6);


    h2 {
      @include hide-text();
      height: 0; margin: 0; padding: 0;
    }

    hr {
       display: none;
    }

  }

  #browse {
    @include column(12, true);
    h2 {
      font-size: 12px;
      font-weight: bold;
      @include padding-leader(0.2);
      color: #fff;
      @include column(2.5);
    }

    .categories, .collections {
       @include column(4.5, true);

       select {
          width: 90%;
       }

    }

  }
  
}

.blacklight-catalog-index {
    #content {
  @include padding-trailer(2);
  }
  #search-bar {
    @include margin-trailer(0);
  }

  #appliedParams {
  @include column(18);
  @include pull(1);
  @include prepend(1);
  @include append(1);
     background-color: $grey;
    @include padding-leader(1);
    @include padding-trailer(1);
    @include margin-trailer(1);
  }

}

#sidebar {
  @include column(5.5);
  @include pull($blueprint-grid-columns);
  @include margin-leader(5.5);
  h2 {
    @include padding-leader(1);
    @include padding-trailer(0.7);
    padding-left: 15px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

  }
}


.blacklight-catalog-show #sidebar {
  h2 {
    background-color: #8a8e90;
    @include margin-trailer(1);
    @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 5px);
  }
}

.facet_limit {

   border-bottom: 1px solid #888;

   h3 {
     @include padding-leader(0.5);
     @include padding-trailer(0.5);
      text-transform: uppercase;
      font-weight: bold;
      @include prepend(0.5);
      @include append(0.5);
      &:hover {
        background-color: darken(#e8e3e3, 10%);
      }
   }

   h4 {
     @include padding-leader(0.5);
     font-weight: bold;
      background-color: white;
      @include prepend(0.5);
      @include append(0.5);

   }

   .twiddle {
      cursor: pointer;
       background-image: url(/images/arrow_closed.png);
       background-repeat: no-repeat;
       background-position: 5px 48%;
       padding-left: 15px;
   }

   .twiddle-open {
     background-image: url(/images/arrow_open.png);
     background-position: 3px 48%;
   }


   ul {
      background-color: white;
      @include prepend(0.5);
      @include append(0.5);
     @include padding-leader(0.25);
     @include padding-trailer(1.5);

     ul {
     @include padding-trailer(1);

     }
   }

   li {
     @include padding-trailer(0.2);
   }



}

.blacklight-catalog-index {
    
  #sidebar {
    @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 5px);
    background-color: $grey;
    h2 {
      background-color: $orange;
    }

    @include padding-trailer(1);
    min-height: 600px;

  }

  .document {
      @include column(18);
    border-bottom: 1px solid #CCC;
    @include margin-leader(0.5);
    @include margin-trailer(0.5);
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
    min-height: 100px;
    position: relative;
  }

  .documentFunctions {
     display: none;
  }

  .index_title {
     @include column(15);
     @include push(3.5);
     margin-bottom: 0;
     font-size: 12px;

     a {
       color: $dark-link-color;
       font-weight: bold;
     }
  }

  .thumbnail {
     position: absolute;
     top: 0.5em;
     left: 0;
     @include margin-leader(0.5);
  }

  .defList_container {
     @include column(14.5);
     @include push(3.5);
  .label {
     font-weight: bold;
     display: inline;
     @include append(0.25);
  }

  .value {
      display: inline;
  }
  }

  .blacklight-fulltext_t {
     @include margin-trailer(0.5);
    .label {
       display: none;
    }

    em {
       font-weight: bold;
       color: $font-color;
    }


  }

  .blacklight-dc_description_t {
     @include margin-trailer(0.5);
  }


}

.search-results-header {
    @include column(18);
    border-bottom: 1px solid #CCC;
}

   .pageEntriesInfo {
      @include column(5.5);
      @include prepend(5);
   }

   #startOverLink {
      display: none;
   }

   #sortAndPerPage {
      @include column(4);
      @include pull(10.5);

      .sort {
         margin-top: -0.3em;
      }
   }

   .per_page {
      display: none;
   } 

   .pagination {
      @include clearfix;

      h2 {
         display: none;
      }

      .page_links {
         text-align: right;
      }

      .previous_page {
        margin-right: 1em;
      }

      .next_page {
         margin-left: 1em;
      }

  }


.appliedFilter {
  &.query {
     display: none;
  }

  @include append(0.5);  
  .filterName {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
  }

  .filterValue, .btnRemove {
    padding: 2px;
    display: inline-block;
    background-color: #f7f7f7;
    @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 2px);
  }
  .filterValue {
     padding-left: 5px;
     padding-right: 5px;
  }


  .btnRemove {
     text-indent: -9999px;
     width: 10px;
     margin-left: -3px;
     padding-left: 3px;
     position: relative;
     color: $quiet-color;
     text-decoration: none;
     &:hover {
       background-color: darken(#f7f7f7, 15%);
     }
  }

  .btnRemove:after {
      text-indent: 0;
     content: "x";
     position: absolute;
     right: -4px;
     top: 2px;
     width: 100%;
     height: 100%;

  }


  }

#documents + .pagination {
   @include column(10);
   @include prepend(8);
}

.related-content {

  .mlt {
     @include margin-trailer(1);
    @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 5px);
     padding: 10px;
     background-color: #fff;

     a {
         font-weight: bold;
       display: block;
     }
  }
}


#ft {
   @include column(26);

   .solrQuery {
       margin-top: 2em;
      background-color: white;
   }
}


#document {
      @include padding-leader(1.5);

    hr {
      @include column(20);
      @include pull(1);
      margin-bottom: 0;
    }

    .document_heading {
      @include column(13);
      @include padding-trailer(0.5);
    }

    .documentFunctions {
       display: none;
    }

    h1 {
      font-weight: bold;
      font-size: 20px;
    }

    div.tools {
      @include column(5, true);
      @include padding-leader(0.5);
    }

    ul.tools {
      li {
         display: inline-block;
      }

      li:after {
         content: " | ";
      }

      li:last-of-type:after {
         content: "";
      }
    }

    .document {
        @include column(18);
    }

    .defList_container {
        @include column(18);
        @include padding-leader(0.5);
        @include padding-trailer(0.5);

       .label {
          @include column(2.75);
          @include append(0.25);
          @include margin-trailer(0.5);
          @include padding-leader(0.1);
          @include padding-trailer(0.1);
          text-indent: 5px;
          background-color: #CCC;
          text-align: right;
          font-weight: bold;
          clear: both;
       }

       .value {
          @include column(15,  true);
       }

       & > div {
           @include clearfix;
           margin-bottom: 1em;
       }
    }

    .blacklight-tags, .blacklight-comments {
       @include column(15);

       .value {
         @include column(12, true);
         a {
            display: block;
         }
       }
    }

      .new_tag, .new_annotation {
         @include column(3, true);
     }

    .media {
       @include padding-leader(1);
       @include padding-trailer(1);
        @include column(18, true);
    }
    .primary-datastream {
       @include column(8);
    }

    .primary-datastream-container {
       @extend .primary-datastream;
    }

    .secondary-datastream-container {
       @include column(9, true);
       @include prepend(1);
       position: relative;
       margin-right: -20px;
       padding-right: 20px;

   }

    .primary-datastream-container, .secondary-datastream-container {
       h2 {
           @include column(4);
         text-transform: uppercase;
         font-weight: bold;
       }

       .datastream-actions {
          @include column(5, true);
       }
   }

    .secondary-datastream {   
        @include column(9, true);
       overflow-y: scroll;
       height: 240px;

       .highlight {
         background-color: #ffff00;
       }
    }

    .primary-datastream.datastream-transcript {
      @extend .secondary-datastream;
      @include column(14);
      @include prepend(4);
      height: 480px;
    }

    .pbcore-metadata {
       @include column(18);
       @include pull(1);
       @include prepend(1);
       @include append(1);
       @include padding-leader(1);
       @include padding-trailer(2);
       background-color: #ddd;

    .instantiation, .source, .description, .date, .place, .people {
       @include column(6);
       @include margin-trailer(1.5);
    }

    h3, strong {
        @include margin-leader(1);
       font-weight: bold;
       display: block;
    }

    .instantiation strong, .source strong, .description strong {
      font-weight: normal;
      display: inline;
      @include margin-leader(0);
      
      &:after {
         content: ": ";
      }
    }

    .pbcore-description-block {
       @include margin-trailer(1);
    }

    .date {
       clear: left;
    }

    .description, .people {
       @include column(6, true);
    }

    }
}

.transcript {
    
  h3 {
   font-weight: bold;
   @include margin-leader(1.5);
   @include margin-trailer(1.5);
  }
 
  strong {
    font-weight: bold;
    @include column(2);
    clear: left;
  }

  .para {
      @include prepend(2);
    @include margin-leader(1);
  }

  .current {
     color: darken($orange, 30%);
  }

  .incident {
     font-style: italic;
     color: $quiet-color;
  }

  .tei-metadata {
     display: none;
  }

}

.log p {
   @include prepend(0);
   @include append(0.5);
   @include margin-leader(1);
}

.ui-widget {
   font-size: $base-font-size;
   line-height: $base-line-height; 
}

.ui-dialog {
   padding: 0;
   @include border-radius(0, 0);
   border: 0;
    @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 5px);

}

.ui-widget-header {
   @include border-radius(0, 0);
   background: $orange;
   border: none;
   color: #333;
}

.ui-widget-content {
   a {
     @extend a;
   }
}
ul.facet_extended_list {
    max-height: 500px;
    overflow-y: scroll;
}

.at300bs {
   display: inline-block;

   background: none;
   height: 0px;
   width: 0px;
   line-height: auto;
}                                

.blacklight-catalog_ugc-index {
   @extend .blacklight-catalog-index;
}

.datastream-transcript .sausage-set {
   margin-top: 30px;
}

.sausage-set {
    position: absolute; right: 0; top: 0;
    width: 15px; height: 100%;
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
}
    .sausage {
        position: absolute; left: 0;
        width: 100%; height: 100%;
        background-color: #d7d7d7;
        text-decoration: none;
        -moz-border-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-box-shadow: inset 0px 1px 2px 4px rgba(0, 0, 0, 0.025);
        -webkit-box-shadow: inset 0px 1px 2px 4px rgba(0, 0, 0, 0.025);
        cursor: pointer;
    }
    .sausage-hover,
    .sausage-current {
        background-color: #aaa;
        -moz-box-shadow: inset 0px 1px 2px 4px rgba(51, 63, 70, 0.025);
    }
        .sausage-span {
            position: absolute; left: -12px; top: 5px; z-index: 2;
            display: none;
            width: 15px; height: 10px;
            padding: 2px;
            color: #aaa;
            background-color: #fff;
            border: solid 2px #b6d8ea;
            font-size: 10px; line-height: 10px; font-weight: bold; text-align: center;
            -moz-border-radius: 7px;
            -webkit-border-bottom-left-radius: 7px;
            -webkit-border-top-left-radius: 7px;
            -webkit-border-bottom-right-radius: 7px;
            -webkit-border-top-right-radius: 7px;
            -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
        }
        .sausage-hover .sausage-span {
            display: block;
        }


        .blacklight-comments {
  .defList_container {
     @include column(14.5);
     @include push(3.5);
  .label {
     font-weight: bold;
     display: inline;
     @include append(0.25);
  }

  .value {
      display: inline;
  }
  }

        }
