// This import applies a global reset to any page that imports this stylesheet.
@import "compass/reset";
@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/utilities/text/replacement";
@import "compass/typography/vertical_rhythm";

$base-font-size: 11px;
$base-line-height: 14.25px;
$blueprint-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

$blueprint-grid-columns: 27;
$blueprint-grid-width: 29px;
$blueprint-grid-margin: 8px;
$sidebar-grid-columns: 6;
$content-grid-columns: 21;
$document-grid-columns: 19.5;


// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/colors";
$link-color: #006699;
$link-visited-color: #006699;
$link-hover-color: #006699;
$link-focus-color: #006699;
$link-active-color: $link-hover-color;
$dark-link-color: #006699;

$action-color: #cc6600;
$action-hover-color: lighten(#d76b11, 20%);
$action-active-color: $action-hover-color;
$action-focus-color: $link-focus-color;
$action-visited-color: $link-visited-color;

$footer-color: #fff;
$footer-hover-color: #ccc;
$footer-active-color: $footer-hover-color; 
$footer-focus-color: $footer-active-color;
$footer-visited-color: #fff;

$blue: #11629e;
$orange: #ff9e25;
$grey: #e8e3e3;

html {
  background-color: #4282B2;
}

body {	
  background-image: image-url("background.jpg");
  background-color: #3076aa;
  background-position: center 0;
  min-width: 991px;
  background-repeat: no-repeat;
  height: 100%;
}

h1,h2,h3 {
  font-weight: bold;
}    

.page-title {
  font-size: 20px;
  @include margin-trailer(0.3);
}

h1 {
  @extend .page-title;
}

strong, b {
  font-weight: bold;
}

i {
  font-style: italic;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
}

a:hover, a:active {
  text-decoration: underline;
}

a.action, .tools a, .new_tag, .new_annotation, .sync {
  font-weight: bold;
  @include link-colors($action-color, $action-hover-color, $action-active-color, $action-visited-color, $action-focus-color); 
  text-transform: uppercase;
  font-size: 10px;
}

.container {
  @include container;
  @include blueprint-typography-body;
  font-size: 11px;
  min-height: 1000px;
  background-image: image-url("bg-logo.png");
  background-repeat: no-repeat;
}

.truncate_more_link {
   padding-left: 5px;
   display: inline-block;
}

#hd {
  @include column($blueprint-grid-columns);
  @include margin-leader(1);
  padding-top:2px; /* shim */
  position: relative;

  .site_title_container {
    @include column(5);
    height: 39px;
    padding-bottom: 5px;
  }

  .site_title a {
    display: block;
    @include replace-text-with-dimensions("openvault.png");
    background-position: 0 0;
  }

  .subtitle {
    @include replace-text-with-dimensions("wgbh_mla.png");
    margin-top: 23px;
    background-position: 0 0;
  }

  .user_util_links {
    position: absolute;
    right: 7px;
    top: 20px;
    font-size: 12.5px;
    text-align: right;
    color: #fff;

    a {
      @include link-colors(#fff, #fff, #fff, #fff, #fff);
    }
    
    strong {
      display: inline-block;
      padding-right: 10px;
      color: black;
    }
  }
}

#bd {
  @include column($blueprint-grid-columns);
}

#main {
  @include column($content-grid-columns);
  @include prepend($sidebar-grid-columns);
}

.footer-container {
  border-top: 1px solid rgba(255,255,255,0.2);
  @include margin-leader(1.5);
  @include padding-leader(0.5);
  @include padding-trailer(1);
  background-color: darken(#4282B2, 10%);
  background-color: rgba(0,0,0,0.1);
}

#ft {
  @include container;
  @include blueprint-typography-body;
  font-size: 11px;

  .menu {
    @include column($blueprint-grid-columns);
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
  
    a {
      @include link-colors(#fff, #fff, #fff, #fff, #fff);
    }
    margin: 0;
    
    ul, li {
      list-style: none;
      display: inline-block;
    }
	
    li {
      margin-right:  0.3em;

      &:after {
         padding-left: 0.3em;
         content: " | ";
         color: white;
      }

      &:last-of-type:after {
         content: "";
      }
    }
  } 

  .copyright {
     color: white;
  }
}

#content {
  @include column($document-grid-columns);
  @include prepend(1);
  @include append(0.5);
  @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 5px);
  min-height: 450px;
  background-color: #FFF;
  @include padding-trailer(2);

  border: 1px solid #CCC;
}

#sidebar {
  @include column(5.5);
  @include pull($blueprint-grid-columns);
  margin-top: 60px;
  h2 {
    @include padding-leader(1);
    @include padding-trailer(0.7);
    padding-left: 15px;
    color: white;
    text-transform: uppercase;

  }
}

#search-bar {
  @include column($document-grid-columns);
  @include prepend(1);
  @include append(0.5);
  @include padding-leader(0.5);
  @include padding-trailer(0.5);
  @include margin-trailer(1);
  @include single-box-shadow(rgba(0,0,0,0.3), 0px, 1px, 5px);
  background-color: $orange;

  #search {
    @include column(6);

    h2 {
      @include hide-text();
      height: 0; margin: 0; padding: 0;
    }

    hr {
       display: none;
    }
  }

  #browse {
    @include column(12.5, true);
    @include prepend(1);
    padding-top: 0.4em;
    
    h2 {
      font-size: 12px;
      @include padding-leader(0.2);
      color: #fff;
      font-weight: normal;
      @include column(3);

      &:after {
         content: ": ";
      }
    }

    .categories, .collections {
      @include column(4.75, true);

      select {
        width: 90%;
      }
    }
  }
}

.q_field {
  position: relative;
  @include margin-leader(0.33);
  @include margin-trailer(0.33);
  width: 170px;
  padding-bottom: 2px;
  height: 2em;

  .q {
    width: 150px;
    padding-right: 20px;
    font-size: 12px;
    color: #666;
    line-height: 1.25em;
  }

  .submit {
    position: absolute;
    top: 5px;
    right: 0;
  }
}

.blacklight-passwords, .blacklight-sessions, .blacklight-registrations {
  h2 {
    @extend .page-title;
    @include margin-trailer(0.5);
  }
  
  #content {
    padding-top: 1em;
    
   
    
    .links {
      margin-left: 111px;
    }
  }
}

    .user_new {
      p {
        @include clearfix;
        clear: left;
        @include padding-trailer(0.5);
        @include padding-leader(0.5);
      }
     
      label {
        @include column(3);  
        text-align: right;
      }

      input {
        float: left;
        display: inline-block;
      }

      input + label {
        width: auto;
        text-align: left;
      }

      #user_remember_me, #user_submit, #user_mla_updates, #user_terms_and_conditions  {
        margin-left: 111px;
      }

      input[type="checkbox"] + label {
        width: auto;
        text-align: left;
      }

      #user_submit {
        float: none;
      }
    }
    
    .links {
      margin-left: 111px;
    }

    #annotations_modal_dialog {
        .user_new { 
          label {
           @include column(2);
          }
          input + label, input[type="checkbox"] + label {
             width: 180px;
          }

          select {
             width: 180px;
          }
        }

        
      #user_remember_me, #user_submit, #user_mla_updates, #user_terms_and_conditions  {
         margin-left: 75px;
      }

        .links {
           margin-left: 75px;
        }
       
    }

.comment {
  @include margin-trailer(1);
  .byline {
     font-weight: bold;
  }
}


// Combine the partials into a single screen stylesheet.
@import "partials/home";
@import "partials/record";
@import "partials/jquery_ui_override";
@import "partials/catalog-index";
