<ul class="tools">
  <li class="share">
<a href="http://addthis.com/bookmark.php?v=250&amp;username=xa-4b95274a733db53e" class="addthis_button_compact">Share</a>
<script type="text/javascript">
        var addthis_config = { ui_click: true }
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=interactivetech"></script>
  </li>
  <li class="cite">
    <%= link_to "Cite", cite_catalog_path %>
  </li>
</ul>
   
