<div class="defList_container">
  <div class="blacklight-comments">
      <div class="label">Comments</div>
      <div class="value">
        <%= document.comments.inspect %>
      </div>
  </div>

  <div class="blacklight-tags">
      <div class="label">Tags</div>
      <div class="value">
        <%= document.tag_list.inspect %>
      </div>
  </div>
</div>
