<div class="datastream primary-datastream datastream-transcript datastream-transcript-newsml">
  <%= render_newsml_transcript(datastream_url(document.fedora_object.datastream["Transcript.newsml.xml"], :private => true)) %>
</div>
