// This import applies a global reset to any page that imports this stylesheet.
@import "compass/reset";
//@import "blueprint/reset";

@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/utilities/text/replacement";
@import "compass/typography/vertical_rhythm";

$base-font-size: 11px;
$base-line-height: 14.25px;

$blueprint-grid-columns: 26;

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/liquid";

@import "blueprint/colors";
$link-color: #006699;
$dark-link-color: #006699;

$action-color: #cc6600;
$action-hover-color: lighten(#d76b11, 20%);

$orange: #ff9e25;
$grey: #e8e3e3;

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// @include blueprint-print

//Recommended Blueprint configuration with scoping and semantic layout:
body {
  @include blueprint-print(true); 
line-height: $base-line-height;
}

  body, html {
     background: #fff;
  }

  #hd {
      .site_title_container {
        height: auto;
        @include margin-trailer(1);
        font-size: 16px;
      }
  } 

  .container {
     font-size: 15px;
  }

  #sidebar, #search-bar, .user_util_links, #ft {
    display: none !important;
  }

  #main {
    @include column($blueprint-grid-columns);
    @include prepend(0);
    overflow: visible;
  }

  .document_heading, .citation {
     @include margin-trailer(1);
  }

  .label {
     font-weight: bold;
     @include margin-leader(1);
  }

  #document {
        width: 70%;
      h1 {
         font-size: 20px;
         font-weight: bold;
      }
      .document_heading {
         width: 100%;
      }
    .datastream-actions {
       display: none !important;
    }
    .secondary-datastream-container {
        h2 {
           @include margin-leader(1.5);
           @include margin-trailer(0);
           font-weight: bold;
           text-transform: uppercase;
        }
 }
    .datastream-transcript {
       height: auto;
       overflow: visible;
    }
  }


.transcript {
    
  h3 {
   font-weight: bold;
   @include margin-leader(1.5);
   @include margin-trailer(1.5);
  }
 
  strong {
    font-weight: bold;
    display: block;
    @include margin-leader(1);
    clear: left;
  }

  .para {
    @include margin-trailer(1);
    margin-right: 10px;
  }

  .current {
     color: darken($orange, 30%);
  }

  .incident {
     font-style: italic;
     color: $quiet-color;
  }

  .tei-metadata {
     display: none;
  }

}
