<ul id="menu-footer" class="menu"><li id="menu-item-560" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-560"><a href="/blog/">Home</a></li>
<li id="menu-item-561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-561"><a href="/blog/about/">About Us</a></li>
<li id="menu-item-562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-562"><a href="/blog/contact-us/">Contact Us</a></li>
<li id="menu-item-563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-563"><a href="/blog/help/">Help</a></li>
<li id="menu-item-564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-564"><a href="/blog/credits/">Open Vault Project Credits</a></li>
<li id="menu-item-565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-565"><a href="/blog/privacy-policy/">Privacy Policy</a></li>
<li id="menu-item-566" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-566"><a href="/blog/terms-and-conditions/">Terms and Conditions</a></li>
<li id="menu-item-567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-567"><a href="/blog/visiting-the-archives/">Visiting the Archives</a></li>
</ul>
